* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

table {
  margin: 0 auto;
  min-width: 900px;
  max-width: 900px;
}

table td {
  white-space: pre;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
