.wrapper {
  background: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40px 5fr 1fr;
  color: white;
  padding: 40px;
  grid-gap: 0 50px;
}

.head {
  grid-column: 1/3;
  align-self: flex-end;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid white;
}

.title {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 100px;
  font-weight: bold;
}

.graph {
  grid-column: 3/5;
  grid-row: 1/3;
  align-self: center;
}

.statWrapper {
  grid-row: 3/4;

  &:last-of-type {
    grid-column: span 2;
  }
}

.statTitle {
  font-size: 30px;
  font-weight: bold;
}

.statValue {
  font-size: 55px;
  font-weight: bold;
}

.icon {
  color: white;
  font-size: 3rem !important;
  position: relative;
  top: 6px;
}

.stroke {
  stroke-width: 8px;
  stroke-linecap: butt;
}
