# Git
.git
.gitignore

# build system cache
node_modules
.pnpm-store
.turbo

# IDEs
.vscode
.idea
.*.sw[op]

# Docker
.dockerignore
Dockerfile.*

# Disco cache (for local development)
packages/config/cache/**

# env
.env
.env.*
