node_modules
yarn-error.log
.DS_Store
.turbo
.copilotignore

# IDEs
.vscode
.idea
.*.sw[op]

# Next.js
.next
# Not ignoring next-env.d.ts as it's needed for type checking on CI
out
build

# TypeScript
*.tsbuildinfo

dist

# .env files
.env
.env.local

# l2b
cache/
packages/backend/scripts/tvs/breakdown.json
packages/backend/scripts/tvs/local-data.json
