@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('/fonts/Roboto/roboto-v27-latin-regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/fonts/Roboto/roboto-v27-latin-700.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Lora/lora-v17-latin-italic.woff2') format('woff2');
  font-display: block;
}
