:root {
  --brand-red: #f9347b;
  --background: #fafafa;
  --background-2: #ededed;
  --background-3: #dfdfdf;
  --background-4: #d3d3d3;
  --light-text: #fafafa;
  --dark-text: #222222;
  --text: var(--dark-text);
  --text-muted: #737373;

  --text-good: #007408;
  --text-bad: #d70000;
  --text-warning: #cb9800;
  --text-info: #005dd7;

  --background-job: #ffffff;
  --background-info: rgba(150, 192, 247, 0.2);
  --background-warning: rgba(203, 152, 0, 0.2);
  --background-action: #ffde2f;

  --gradient-1: rgb(126, 65, 204);
  --gradient-2: rgb(216, 61, 164);
  --gradient-3: rgb(238, 44, 1);
  --gradient-4: rgb(238, 194, 1);

  --gradient-1-light: rgba(126, 65, 204, 0.4);
  --gradient-2-light: rgba(216, 61, 164, 0.4);
  --gradient-3-light: rgba(238, 44, 1, 0.4);
  --gradient-4-light: rgb(238, 194, 1, 0.4);

  --second-gradient-1: rgba(42, 91, 216, 1);
  --second-gradient-2: rgba(83, 162, 255, 1);

  --second-gradient-1-light: rgba(42, 91, 216, 0.3);
  --second-gradient-2-light: rgba(83, 162, 255, 0.3);

  --link: #005dd7;
  --link-rgb: 0 93 215;
  --shadow: rgba(0, 0, 0, 0.2);

  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 32px;
  --font-xxl: 64px;
}

:root.dark {
  --brand-red: #bd114f;
  --background: #1b1b1b;
  --background-2: #2f2f2f;
  --background-3: #424242;
  --background-4: #565656;
  --text: var(--light-text);
  --text-muted: #848484;
  --link: #7bc1ff;
  --link-rgb: 123 193 255;

  --text-good: #4eab58;
  --text-bad: #fa3a3a;
  --text-warning: #fdcf44;
  --text-info: #cbdff9;

  --background-job: #000000;
}

@media (max-width: 1000px) {
  html,
  body {
    --font-xs: 12px;
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 18px;
    --font-xl: 24px;
    --font-xxl: 32px;
  }
}
