.article > * {
  @apply mb-8;
}

.article > *:last-child {
  @apply mb-0;
}

.article p,
.article li {
  @apply font-roboto-serif;
}

.article h1 {
  @apply text-2xl font-bold md:text-4xl;
}

.article h2 {
  @apply text-2xl font-bold md:text-3xl;
}

.article h3 {
  @apply text-xl font-bold md:text-2xl;
}

.article p,
.article li {
  @apply text-base text-black text-opacity-80 dark:text-white dark:text-opacity-80 md:text-[17px];
}

.article blockquote {
  @apply border-l-2 border-pink-200 bg-pink-200 bg-opacity-10 px-7 py-6 text-sm md:text-[17px];
}

.article blockquote p {
  @apply text-pink-200 dark:text-pink-200;
}

.article blockquote > p:last-child {
  @apply mb-0;
}

.article hr {
  @apply opacity-80 dark:opacity-50;
}

.article ul {
  @apply list-disc pl-4;
}

.article ol {
  @apply list-decimal pl-4;
}

.article ul ul,
.article ol ul,
.article ul ol,
.article ol ol {
  @apply mb-0;
}

.article li {
  @apply ml-4;
}

.article strong {
  @apply text-black text-opacity-100 dark:text-white;
}

.article code {
  @apply rounded bg-gray-100 px-1 font-mono text-sm dark:bg-zinc-900;
}

.article pre {
  @apply overflow-auto rounded border-zinc-700 border bg-gray-100 px-4 py-2 font-mono text-sm md:text-base dark:bg-zinc-900;
}

.article pre code {
  @apply rounded-none bg-transparent px-0 py-0;
}
