@reference "tailwindcss";

.article > * {
  @apply mb-4;
}

.article > *:last-child {
  @apply mb-8;
}

.article p,
.article li {
  @apply font-roboto-serif;
}

.article.extended-char-set p,
.article.extended-char-set li {
  @apply font-roboto-serif-ext;
}

.article h2 {
  @apply text-2xl font-bold md:text-3xl mt-12 mb-6;
}

.article h3 {
  @apply text-xl font-bold md:text-2xl mb-4 mt-6;
}

.article p,
.article li {
  @apply text-sm text-primary/80 md:text-[17px] leading-[1.6] font-light;
}

.article blockquote {
  @apply border-l-2 border-brand bg-brand/10 px-7 py-6 text-sm md:text-[17px] leading-[1.6] font-light;
}

.article blockquote p {
  @apply text-brand;
}

.article blockquote > p:last-child {
  @apply mb-0;
}

.article hr {
  @apply opacity-80 dark:opacity-50;
}

.article ul {
  @apply list-disc pl-4;
}

.article ol {
  @apply list-decimal pl-4;
}

.article ul ul,
.article ol ul,
.article ul ol,
.article ol ol {
  @apply mb-0;
}

.article li {
  @apply ml-4;
}

.article strong {
  @apply text-primary font-semibold;
}

.article code {
  @apply rounded bg-gray-100 px-1 font-mono text-sm dark:bg-zinc-900;
}

.article pre {
  @apply overflow-auto rounded border-zinc-700 border bg-gray-100 px-4 py-2 font-mono text-sm md:text-base dark:bg-zinc-900;
}

.article pre code {
  @apply rounded-none bg-transparent px-0 py-0;
}

/* Make sure this is compatible with the <Link /> component */
.article a {
  @apply text-link underline transition-colors hover:text-blue-550;
  font-weight: 600;
}
