@import "./markdown.css";
@import "./article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 750px) {
  :root {
    --header-height: 2rem !important;
  }
  :root:has(.header-height-glossary) {
    --header-height: 9rem !important;
  }
}
:root {
  --header-height: 4rem;
}
:root:has(.header-height-glossary) {
  --header-height: 7rem;
}

html {
  scroll-padding-top: var(--header-height);
}

body {
  @apply bg-white dark:bg-neutral-900 text-base text-black dark:text-white md:text-lg font-sans transition-colors;
}

body:has(.v2) {
  @apply bg-[#E6E7EC] dark:bg-[#090A0B];
}

@layer utilities {
  .transition-duration-50 {
    transition-duration: 50ms !important;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }

  /* Masks for overflow wrapper */
  .fade-out-to-left {
    -webkit-mask-image: linear-gradient(
      to left,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to left,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
  }

  .fade-out-to-right {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
  }
  .fade-out-horizontal {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      black 30px calc(100% - 30px),
      transparent
    ) !important;
    mask-image: linear-gradient(
      90deg,
      transparent,
      black 30px calc(100% - 30px),
      transparent
    ) !important;
  }

  .chart-fade-out-to-bottom {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black 0px,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black 0px,
      transparent 100%
    );
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar ::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar ::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-200;
  }

  .dark .custom-scrollbar ::-webkit-scrollbar-track {
    @apply rounded-full bg-zinc-800;
  }

  .custom-scrollbar ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-50;
  }

  .dark .custom-scrollbar ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-500;
  }
}
