@import "./markdown.css";
@import "./article.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 260deg 7.69% 7.65%;
    --primary-invert: 0deg 0% 98%;
    --secondary: 222deg 8.21% 40.6%;
    --positive: 124deg 100% 22.7%;
    --warning: 44.9deg 100% 33.5%;
    --negative: 0 100% 42%;
    --brand: 285deg 62.7% 52.7%;
    --background: 230deg 13.6% 91.4%;
    --background-reading: 0deg 0% 98%;
    --surface-primary: 0deg 0% 98%;
    --surface-secondary: 230deg 13.6% 91.4%;
    --surface-tertiary: 223deg 15.9% 82.7%;
    --header-primary: 0deg 0% 100%;
    --header-secondary: 230deg 21.4% 94.5%;
    --icon-secondary: 222deg 8.21% 40.6%;
    --overlay: 231deg 30.4% 13.5% / 60%;
    --divider: 223deg 15.9% 82.7%;
    --indicator-rollups: 321deg 84.3% 60%;
    --indicator-validiums-optimiums: 180deg 50.2% 42.5%;
    --indicator-others: 44.9deg 100% 33.5%;
    --indicator-ethereum: 223deg 69% 50.6%;
    --link-stroke: 212deg 100% 86.5%;
    --link: 223deg 69% 50.6%;
  }

  .dark {
    --primary: 0deg 0% 98%;
    --primary-invert: 260deg 7.69% 7.65%;
    --secondary: 223deg 8.04% 56.1%;
    --positive: 145deg 81.2% 43.7%;
    --warning: 45deg 100% 51.4%;
    --negative: 0 100% 50%;
    --brand: 284deg 87.1% 75.7%;
    --background: 0deg 0% 0%;
    --background-reading: 0deg 0% 0%;
    --surface-primary: 225deg 14.8% 10.6%;
    --surface-secondary: 222deg 8.06% 24.3%;
    --surface-tertiary: 220deg 7.89% 29.8%;
    --header-primary: 225deg 14.8% 10.6%;
    --header-secondary: 222deg 16% 15.9%;
    --icon-secondary: 222deg 8.21% 40.6%;
    --overlay: 0deg 0% 0% / 60%;
    --divider: 226deg 14.3% 28.8%;
    --indicator-rollups: 284deg 87.1% 75.7%;
    --indicator-validiums-optimiums: 190deg 73.6% 55.5%;
    --indicator-others: 54.2deg 70.9% 56.9%;
    --indicator-ethereum: 212deg 100% 66.3%;
    --link-stroke: 217deg 56.3% 18.8%;
    --link: 212deg 100% 66.3%;
  }
}

@layer base {
  :root {
    --header-height: 4rem;
  }

  :root:has(.header-height-glossary) {
    --header-height: 7rem;
  }

  @media (min-width: 750px) {
    :root {
      --header-height: 2rem !important;
    }
    :root:has(.header-height-glossary) {
      --header-height: 9rem !important;
    }
  }

  html {
    scroll-padding-top: var(--header-height);
  }

  html:has(.smooth-scroll) {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-base text-primary md:text-lg font-sans selection:bg-brand/30 dark:selection:bg-brand/50;
  }

  body:has(.reading) {
    @apply bg-background-reading;
  }
}

@layer utilities {
  .transition-duration-50 {
    transition-duration: 50ms !important;
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }

  /* Masks for overflow wrapper */
  .fade-out-to-left {
    -webkit-mask-image: linear-gradient(
      to left,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to left,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
  }

  .fade-out-to-right {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 0px,
      black calc(100% - 30px),
      transparent 100%
    );
  }
  .fade-out-horizontal {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      black 30px calc(100% - 30px),
      transparent
    ) !important;
    mask-image: linear-gradient(
      90deg,
      transparent,
      black 30px calc(100% - 30px),
      transparent
    ) !important;
  }

  .chart-fade-out-to-bottom {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black 0px,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      transparent 0,
      black 0px,
      transparent 100%
    );
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-scrollbar ::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar ::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-200;
  }

  .dark .custom-scrollbar ::-webkit-scrollbar-track {
    @apply rounded-full bg-zinc-800;
  }

  .custom-scrollbar ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-50;
  }

  .dark .custom-scrollbar ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-500;
  }
}
