@reference "tailwindcss";

.mdc h1,
.mdc h2,
.mdc h3,
.mdc h4,
.mdc h5,
.mdc h6,
.mdc hr,
.mdc blockquote,
.mdc p,
.mdc ol,
.mdc ul,
.mdc dl,
.mdc table,
.mdc pre {
  @apply mb-4;
}

.mdc ul p {
  @apply mb-0;
}

.mdc > *:last-child {
  @apply mb-0;
}

.mdc h1 {
  @apply text-heading-24;
}

.mdc h2 {
  @apply text-heading-20;
}

.mdc h3 {
  @apply text-heading-18;
}

.mdc hr {
  @apply opacity-80 dark:opacity-50;
}

.mdc blockquote {
  @apply border-l-2 border-divider py-1 pl-4;
}

.mdc ul {
  @apply list-disc pl-4;
}

.mdc ol {
  @apply list-decimal pl-4;
}

.mdc ul ul,
.mdc ol ul,
.mdc ul ol,
.mdc ol ol {
  @apply mb-0;
}

.mdc li {
  @apply ml-4;
}

.mdc code {
  @apply rounded bg-gray-100 px-1 font-mono text-sm dark:bg-zinc-700 break-words;
}

.mdc pre {
  @apply overflow-auto rounded bg-gray-100 px-4 py-2 font-mono text-sm dark:bg-zinc-700;
}

.mdc pre code {
  @apply rounded-none bg-transparent px-0 py-0;
}

.mdc table {
  @apply w-full;
}

.mdc table tr:not(:last-child) {
  @apply border-b border-divider;
}

.mdc table thead tr:first-child:last-child {
  @apply border-b border-divider;
}

.mdc table td {
  @apply text-sm;
}

.mdc table th:not(:last-child),
.mdc table td:not(:last-child) {
  @apply border-r border-divider text-sm;
}

.mdc table th,
.mdc table td {
  @apply px-4 py-2;
}

/* Make sure this is compatible with the <Link /> component */
.mdc a:not([data-link-role="glossary"]) {
  @apply font-medium text-link underline transition-colors hover:text-blue-550;
}

.mdc a[data-link-role="glossary"] {
  @apply underline decoration-dotted md:underline-offset-2 decoration-link;
}

.mdc img {
  @apply dark:invert max-w-full align-[unset] my-4;
}

.mdc.zk-description h1 {
  @apply text-xl font-bold;
}

.mdc.zk-description h2 {
  @apply text-xl font-bold;
}

.mdc.zk-description h3 {
  @apply text-xl font-bold;
}
