.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.logo {
    text-transform: uppercase;
    font-size: var(--font-secondary);
    margin-left: 10px;
    flex: 2;
    cursor: pointer;
}

.logoIcon {
    cursor: pointer;
}

.linksWrapper {
    max-width: 300px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.link {
    justify-self: flex-end;
}