.financials {
  width: 100%;
  overflow-x: auto;
  margin-top: 16px;
  white-space: pre;

  @media (max-width: 550px) {
    margin-top: 8px;
  }
}

.financials__table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.financials__header {
  tr {
    border-bottom: 1px solid var(--background-4);
    white-space: nowrap;

    [data-narrow] {
      display: none;

      @media (max-width: 550px) {
        display: block;
      }
    }

    [data-wide] {
      @media (max-width: 550px) {
        display: none;
      }
    }
  }

  th {
    padding: 8px 8px 8px 0;

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(n + 3) {
      text-align: right;
    }
  }
}

.financials__body {
  tr {
    border-bottom: 1px solid var(--background-3);

    &:hover {
      background-color: var(--background-2);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }
  }

  td {
    padding: 8px 8px 8px 0;

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(n + 3) {
      text-align: right;
    }

    a {
      border-bottom: none;
      color: var(--text);
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.financials__name {
  position: relative;
  padding-left: 30px;
}

.financials__icon {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 8px;
}

.financials__tvl-warning {
  position: relative;
  display: inline-block;
  height: 1em;
  margin-left: 4px;
  margin-right: -4px;
  width: 24px;

  .tooltip {
    position: absolute;
    right: 0;
    top: -3px;
  }

  svg {
    display: block;
  }
}

.financials__technology {
  padding: 4px 8px;
  display: inline;
  border-radius: 6px;
  background-color: var(--background-2);
  font-weight: bold;

  &[data-rollup] {
    color: var(--positive-green);
  }

  tr:hover & {
    background-color: var(--background-3);
  }

  span {
    display: inline-block;
    width: 37px;
    text-align: center;
  }
}

.financials__symbols {
  margin-top: 16px;
  font-size: var(--font-s);
  p {
    margin: 0;
  }
  svg {
    position: relative;
    top: 5px;
  }
}
