.financials {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  text-align: left;
}

.financials__header {
  tr {
    border-bottom: 1px solid var(--background-4);
  }

  th {
    padding: 8px 0;

    &:nth-child(n + 3) {
      text-align: right;
    }
  }
}

.financials__body {
  tr {
    border-bottom: 1px solid var(--background-3);

    &:hover {
      background-color: var(--background-2);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    }
  }

  td {
    padding: 8px 0;

    &:nth-child(n + 3) {
      text-align: right;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
