.header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: var(--font-xxl);
  margin: 0;
}

.header__tvl,
.header__change {
  margin: 0;
  font-size: var(--font-l);
  font-weight: bold;
  text-align: right;

  @media (max-width: 550px) {
    font-size: var(--font-m);
  }
}

.header__tvl-value {
  font-size: var(--font-xl);

  @media (max-width: 550px) {
    font-size: var(--font-l);
  }
}
