.LinkSection {
  padding: 16px 0 4px 0;
  background-color: var(--background-2);
  border-radius: 6px;
  box-shadow: 0 4px 4px -2px var(--shadow);
  max-width: 450px;
  margin: 32px auto 0 auto;

  @media (max-width: 550px) {
    margin-top: 16px auto 0 auto;
  }
}

.LinkSection-Logo {
  display: block;
  max-width: 128px;
  margin: 0 auto;
}

.LinkSection-Name {
  margin: 16px 0 0 0;
  font-size: var(--font-l);
  text-align: center;
}

.LinkSection-Table {
  margin-top: 8px;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  table-layout: fixed;

  tr {
    border-top: 1px solid var(--background-4);
  }

  th,
  td {
    vertical-align: top;
  }

  th {
    font-weight: normal;
    font-size: var(--font-s);
    width: 128px;
    padding: 3px 0 0 8px;
  }

  td {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 8px;
  }

  a {
    font-size: var(--font-s);
    white-space: pre;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.LinkSection-SocialLink {
  position: relative;
  background-color: var(--background-2);
  padding-left: 19px;
  border-radius: 6px;
  color: var(--link);
  text-decoration: none;

  & + & {
    margin-top: 4px;
  }

  svg {
    fill: var(--link);
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.3em;
    left: 0;
  }
}
