.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

.navbar__logo {
  display: block;
  min-width: 88px;
  margin-right: 24px;
  position: relative;
  top: -2px;
}

.navbar__links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 16px;
}

.navbar__links--left {
  flex: 1;
}

.navbar__link {
  margin-right: 16px;

  .navbar__links--compact > & {
    margin-right: 8px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar__mode {
  display: none;
}

.navbar__light-mode,
.navbar__dark-mode {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.navbar__light-mode {
  display: none;
  @include dark-mode {
    display: block;
  }
}

.navbar__dark-mode {
  @include dark-mode {
    display: none;
  }
}
