.OverviewSection {
  table {
    margin-top: 16px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    vertical-align: top;

    tr:not(:first-child) {
      padding-top: 8px;
    }
  }

  th {
    font-weight: normal;
    width: 132px;
  }

  td {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  a {
    white-space: pre;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.OverviewSection-Warning {
  position: relative;
  margin-top: 16px;
  border-radius: 6px;
  padding: 8px 8px 8px 36px;
  background-color: var(--background-yellow);
  box-shadow: 0 4px 4px -2px var(--shadow);

  svg {
    position: absolute;
    fill: var(--warning-yellow);
    top: 9px;
    left: 8px;
  }
}

.OverviewSection-SocialLinks {
  td {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -4px -8px -4px;
    padding-top: 4px;
  }
}

.OverviewSection-SocialLink {
  position: relative;
  background-color: var(--background-2);
  padding: 0 4px 1px 24px;
  border-radius: 6px;
  color: var(--link);
  text-decoration: none;
  margin: 0 4px 8px 4px;
  font-size: var(--font-s);

  svg {
    fill: var(--link);
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.3em;
    left: 5px;
  }
}
