.ProjectParameter {
  &:not(:last-child) {
    border-bottom: 1px solid var(--background-3);
    padding-bottom: 16px;
    margin-bottom: 16px;

    @media (max-width: 550px) {
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
  }

  ul {
    margin-top: 4px;
    list-style-type: disc;
  }

  a {
    word-break: break-all;
  }
}

.ProjectParameter-Name {
  font-weight: bold;
  margin-right: 8px;
}

.ProjectParameter-Value {
  display: inline;
  position: relative;

  &[data-sentiment='good'] {
    color: var(--text-good);
  }

  &[data-sentiment='warning'] {
    color: var(--text-warning);
  }

  &[data-sentiment='bad'] {
    color: var(--text-bad);
  }
}

.ProjectParameter-Sentiment {
  position: absolute;
  display: block;
  left: 0;
  top: -1px;
  width: 16px;
  height: 20px;

  & + span {
    padding-left: 24px;
  }
}

.ProjectParameter-Details {
  margin-top: 4px;
}
