.ProjectDetails {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-areas: 'tech overview' 'tech news' 'references news';
  column-gap: 16px;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-areas: 'overview' 'tech' 'news' 'references';
  }

  .OverviewSection {
    grid-area: overview;
  }

  .ProjectDetails-Content {
    grid-area: tech;
  }

  .NewsSection {
    grid-area: news;
  }

  .ReferencesSection {
    grid-area: references;
  }
}
