.RiskSection-Group {
  margin-top: 16px;
}

.RiskSection-Title {
  position: relative;
  margin: 0;
  color: var(--negative-red);
  padding-left: 32px;
  font-weight: bold;

  svg {
    fill: var(--negative-red);
    position: absolute;
    top: 1px;
    left: 4px;
  }
}

.RiskSection-Risks {
  margin: 16px 0 0 0;
}

.RiskSection-Risk {
  a {
    color: var(--text);
    text-decoration: underline dotted;
  }
}
