.RiskCell {
  &.good {
    color: var(--positive-green);
    font-weight: bold;
  }

  &.warning {
    color: var(--warning-yellow);
    font-weight: bold;
  }

  &.bad {
    color: var(--negative-red);
    font-weight: bold;
  }

  &.unknown {
    color: var(--text-muted);
  }
}
