.RiskView {
  display: none;
  &.active {
    display: block;
  }

  margin-top: 16px;
  @media (max-width: 550px) {
    margin-top: 8px;
  }
}

.RiskView-Symbols {
  margin-top: 16px;
  font-size: var(--font-s);

  p {
    margin: 0;
  }

  svg {
    position: relative;
    top: 5px;
  }
}
