.TechnologySection-Item {
  margin-top: 16px;
}

.TechnologySection-Item p {
  margin: 16px 0 0 0;
}

.TechnologySection-Incomplete {
  position: relative;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--background-info);
  font-size: var(--font-s);
  margin-top: 8px;
  color: var(--text-info);

  & + p {
    margin-top: 8px;
  }
}
