.TechnologySection-Item {
  margin-top: 16px;
}

.TechnologySection-Title {
  font-size: var(--font-l);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TechnologySection-Item p {
  margin: 16px 0 0 0;
}
