.TechnologySection-Item {
  margin-top: 16px;
}

.TechnologySection-Title {
  font-size: var(--font-l);
  margin: 0;
}

.TechnologySection-Item p {
  margin: 16px 0 0 0;
}

.TechnologySection-Risk {
  position: relative;
  padding-left: 28px;
  color: var(--negative-red);

  svg {
    position: absolute;
    fill: var(--negative-red);
    left: 0;
    top: 1px;
  }
}
