.DescriptionSection-Warning {
  position: relative;
  margin-top: 16px;
  border-radius: 6px;
  padding: 8px 8px 8px 36px;
  background-color: var(--background-warning);
  box-shadow: 0 4px 4px -2px var(--shadow);

  svg {
    position: absolute;
    fill: var(--text-warning);
    top: 9px;
    left: 8px;
  }
}
