.DonateBanner {
  display: block;
  text-align: center;
  background-color: var(--background-action);
  color: var(--dark-text);
  text-decoration: none;
  padding: 4px 16px;
  font-weight: bold;

  @media (max-width: 1000px) {
    margin: 0 -16px;
  }
}
