.DonateDetails {
  margin: 32px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 750px) {
    display: block;
    text-align: center;
  }
}

.DonateDetails-QrCode {
  *:nth-child(1) {
    display: inline;
    .dark & {
      display: none;
    }
  }

  *:nth-child(2) {
    display: none;
    .dark & {
      display: inline;
    }
  }
}

.DonateDetails-Text {
  margin-left: 32px;
  @media (max-width: 750px) {
    margin-left: 0;
  }
}

.DonateDetails-Address {
  margin: 18px 0;
  font-family: monospace;
  word-break: break-all;
  max-width: 21ch;
  width: 21ch;
  display: inline-block;
}

.DonateDetails-Networks {
  list-style-type: none;
  padding: 0;
  margin: 18px 0;

  li:not(:first-child) {
    margin: 8px 0 0 0;
  }
}
