.FinancialView {
  display: none;
  &.active {
    display: block;
  }
}

.FinancialView-Symbols {
  margin-top: 16px;
  font-size: var(--font-s);

  p {
    margin: 0 0 16px 0;
    display: flex;
  }

  span {
    margin-left: 4px;
  }

  svg {
    position: relative;
    min-width: 24px;
    top: -0.25em;
  }
}
