.FinancialView {
  display: none;
  &.active {
    display: block;
  }

  margin-top: 16px;
  @media (max-width: 550px) {
    margin-top: 0px;
  }
}

.FinancialView-TvlWarning {
  position: relative;
  display: inline-block;
  height: 1em;
  margin-left: -4px;
  margin-right: 4px;
  width: 24px;

  .Tooltip {
    position: absolute;
    right: 0;
    top: -3px;

    @media (max-width: 1000px) {
      top: -3.5px;
    }
  }

  svg {
    display: block;
  }
}

.FinancialView-Symbols {
  margin-top: 16px;
  font-size: var(--font-s);

  p {
    margin: 0;
  }

  svg {
    position: relative;
    top: 5px;
  }
}
