.GitcoinButton {
  display: block;
  max-width: 220px;
  margin: 16px auto 0 auto;
  padding: 16px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  background-color: #048104;
  color: var(--light-text);
  text-align: center;
}
