.Header {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 550px) and (max-height: 600px) {
    margin-top: 0px;
  }
}

.Header-Title {
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-xxl);
  margin: 0;
  white-space: pre;

  &.long {
    @media (max-width: 400px) {
      font-size: var(--font-xl);
    }
  }

  &.very-long {
    white-space: break-spaces;
    @media (max-width: 550px) {
      font-size: var(--font-xl);
    }

    @media (max-width: 400px) {
      font-size: var(--font-l);
    }
  }
}

.Header-Icon {
  display: block;
  height: var(--font-xxl);
  margin-right: 8px;
}

.Header-Tvl,
.Header-Change {
  white-space: pre;
  margin: 0;
  font-size: var(--font-l);
  font-weight: bold;
  text-align: right;

  @media (max-width: 550px) {
    font-size: var(--font-m);
  }
}

.Header-TvlValue {
  font-size: var(--font-xl);

  @media (max-width: 550px) {
    font-size: var(--font-l);
  }
}
