.JobPosting {
  margin: 16px 0 0 0;
  padding: 32px;
  background-color: var(--background-job);

  @media (max-width: 1000px) {
    margin: 16px -16px 0 -16px;
    padding: 16px;
  }
}

.JobPosting-Header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 32px;

  .JobPosting-Apply {
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
  }
}

.JobPosting-Title {
  margin: 0 0 8px 0;
}

.JobPosting-Location {
  margin: 0;
  text-transform: uppercase;

  strong {
    background-color: var(--background-action);
    font-weight: normal;
  }
}

.JobPosting-Disclaimer {
  font-family: Lora, serif;
  font-style: italic;
}

.JobPosting-Footer {
  margin-top: 32px;
  text-align: center;
}

.JobPosting-Apply {
  display: inline-block;
  background-color: var(--background-action);
  color: var(--dark-text);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
}
