.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;

  @media (max-width: 550px) {
    height: unset;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  a {
    text-decoration: none;
  }
}

.Navbar-Logo {
  display: block;
  min-width: 88px;
  margin-right: 24px;
  position: relative;
  top: -2px;

  @media (max-width: 550px) {
    min-width: 60px;
    width: 60px;
    height: 25px;
    margin-right: 8px;
  }
}

.Navbar-Links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 16px;
  margin-left: auto;

  &.left {
    flex: 1;
  }

  @media (max-width: 550px) {
    margin-right: 0;
  }
}

.Navbar-Link {
  margin-right: 16px;

  &.compact {
    margin-right: 8px;
  }

  svg {
    display: block;
  }

  a {
    font-weight: bold;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 550px) {
    margin-right: 0;
  }
}

.Navbar-Badge {
  position: relative;
  font-size: var(--font-xs);
  font-weight: bold;
  padding: 1px 3px;
  border-radius: 2px;
  background-color: var(--background-action);
  color: var(--dark-text);
}

.Navbar-Mode {
  display: block;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.Navbar-LightMode {
  display: none;
  @include dark-mode {
    display: block;
  }
}

.Navbar-DarkMode {
  display: block;
  @include dark-mode {
    display: none;
  }
}
