.Projects {
  margin-top: 32px;

  @media (max-width: 550px) {
    margin-top: 8px;
  }
}

.Projects-Title {
  line-height: 1.15;

  @media (max-width: 550px) {
    display: none;
  }
}

.Projects-Buttons {
  position: relative;
  margin-top: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 550px) {
    margin-top: 8px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--background-4);
    border-radius: 8px;
  }
}

.Projects-Button {
  border-radius: 6px;
  border: none;
  height: 60px;
  padding: 2px;
  font-size: var(--font-l);
  font-weight: bold;
  cursor: pointer;
  z-index: 1;

  @media (max-width: 1000px) {
    height: 53px;
  }

  background: transparent;

  &.left.active {
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
  }

  &.right.active {
    background: linear-gradient(to right, var(--gradient-2), var(--gradient-3));
  }
}

.Projects-ButtonInside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  background-color: transparent;
  color: var(--text-muted);
  svg {
    fill: var(--text-muted);
    margin-right: 4px;

    @media (max-width: 1000px) {
      width: 18px;
      height: 18px;
      margin-top: -2px;
    }
  }

  .Projects-Button.active & {
    background-color: var(--background-2);
    color: var(--text);
    svg {
      fill: var(--text);
    }
  }
}
