.ProjectDetails {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas: 'content side';
  column-gap: 16px;
  row-gap: 3rem;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-template-areas: 'side' 'content';
  }

  .ProjectDetails-Side {
    grid-area: side;
  }

  .ProjectDetails-Content {
    grid-area: content;
  }
}
