.ProjectLink {
  position: relative;
  padding-left: 30px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.ProjectLink-Icon {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 8px;

  @media (max-width: 1000px) {
    top: 0px;
  }
}

.ProjectLink-StarkEx {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 4px;

  svg {
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }
}
