.ProjectDetails {
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'tech links' 'tech news';
  column-gap: 16px;

  @media (max-width: 750px) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-template-areas: 'links' 'tech';
  }

  .LinkSection {
    grid-area: links;
  }

  .ProjectDetails-Content {
    grid-area: tech;
  }
}
