.RiskCell {
  font-size: var(--font-s);

  @media (max-width: 1000px) {
    font-size: var(--font-m);
  }

  &.warning {
    background-color: var(--highlight-warning);
    color: var(--dark-text);
    padding: 0 4px;
    border-radius: 2px;
  }

  &.bad {
    background-color: var(--highlight-bad);
    color: var(--light-text);
    padding: 0 4px;
    border-radius: 2px;
  }

  &.unknown {
    color: var(--text-muted);
  }
}
