.RiskView {
  margin-top: 16px;
  @media (max-width: 550px) {
    margin-top: 0px;
  }
}

.RiskView-Symbols {
  margin-top: 16px;
  font-size: var(--font-s);

  p {
    margin: 0 0 16px 0;
    display: flex;
  }

  span {
    margin-left: 4px;
  }

  svg {
    position: relative;
    min-width: 24px;
    top: -0.25em;
  }
}
