.RiskSection-Group {
  margin-top: 16px;
}

.RiskSection-Title {
  position: relative;
  margin: 0;
  color: var(--text-bad);
  font-weight: bold;

  svg {
    fill: var(--text-bad);
    position: absolute;
    top: 1px;
    left: 4px;
  }
}

.RiskSection-Risks {
  margin: 16px 0 0 0;
}

.RiskSection-Risk {
  font-weight: bold;

  a {
    font-weight: normal;
    color: var(--text);
    text-decoration: underline dotted;
  }

  strong {
    color: var(--text-bad);
    text-decoration: underline dotted;
  }
}
