.SeasonalBanner {
  display: block;
  text-align: center;
  background-color: #edaa28;
  color: #132170;
  text-decoration: none;
  padding: 4px 16px;
  font-weight: bold;

  @media (max-width: 1000px) {
    margin: 0 -16px;
  }
}
