.Tooltip-Popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  padding: 8px 10px;
  font-size: var(--font-s);
  z-index: 1000;
  background-color: var(--tooltip-background);
  white-space: initial;
  text-align: left;
  box-shadow: 0 2px 4px -1px var(--shadow);
  border: 1px solid var(--tooltip-border);
}

.Tooltip-Triangle {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 16px;
  height: 8px;
  stroke: var(--tooltip-border);
  stroke-width: 1.1px;
  fill: var(--tooltip-background);
}
