.Tooltip-Popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  padding: 14px;
  font-size: var(--font-s);
  z-index: 1000;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background);
  white-space: initial;
  text-align: left;
  box-shadow: 0px 4px 8px 4px var(--shadow);
  border-radius: 6px;
}

.Tooltip-Triangle {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 16px;
  height: 10px;
  stroke-width: 1.1px;
  fill: var(--tooltip-background);
}
