@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0b0b1c;
    --primary: #fafafa;
    --secondary: #fafafa99;
    --surface-primary: #1f1f38;
    --surface-secondary: #74749f;
    --highlight: #d1ff1a;
    --highlight-secondary: #ca80ec;
    --divider: #32326a;
  }
}
