:root {
  --brand-red: #bd114f;
  --background: #fafafa;
  --background-2: #ededed;
  --background-3: #dfdfdf;
  --background-4: #d3d3d3;
  --text: #222222;
  --text-muted: #999999;
  --positive-green: #4eab58;
  --negative-red: #d70000;
  --neutral-yellow: #cb9800;
  --background-yellow: rgba(203, 152, 0, 0.2);
  --gradient-1: #7e41cc;
  --gradient-2: #d83da4;
  --gradient-3: #ee2c01;
  --link: #3000b5;
  --tooltip-border: var(--text);
  --tooltip-background: #ffffff;

  --font-xs: 14px;
  --font-s: 16px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 32px;
  --font-xxl: 64px;
}

@mixin dark-mode-colors {
  --background: #1b1b1b;
  --background-2: #2f2f2f;
  --background-3: #424242;
  --background-4: #565656;
  // --tooltip-border: #000000;
  --tooltip-background: #000000;
  --text: #fafafa;
  --link: #7bc1ff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark-mode-colors();
  }
}

:root[data-theme='dark'] {
  @include dark-mode-colors();
}

@media (max-width: 1000px) {
  html,
  body {
    --font-xs: 12px;
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 18px;
    --font-xl: 24px;
    --font-xxl: 32px;
  }
}
