:root {
  --brand-red: #bd114f;
  --background: #fafafa;
  --background-2: #ededed;
  --background-3: #dfdfdf;
  --background-4: #d3d3d3;
  --text: #222222;
  --positive-green: #88b130;
  --negative-red: #d70000;
  --gradient-1: #7e41cc;
  --gradient-2: #ff46c0;
  --gradient-3: #ee2c01;
}
