html,
body,
.Page {
  height: 100vh;
  overflow: hidden;
}

.Page {
  padding: 0;
}

.Header {
  margin-top: 24px;
  padding: 0 16px;
  align-items: flex-start;
}

.Meta.project {
  .Header-Title {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 64px;
  }

  .Header-Icon {
    height: 80px;
  }
}

.Header-Right {
  margin-left: auto;
}

.Chart {
  margin-top: 8px;
  row-gap: 8px;
}

.Chart-Loader,
.Chart-Watermark,
.Chart-RangeControls,
.Chart-CurrencyControls,
.Chart-ScaleControls,
.Chart-Line,
.Chart-Label,
.Chart-Description,
.ChartHover {
  display: none;
}

.Chart-Range {
  position: fixed;
  bottom: 16px;
  left: 16px;
  font-size: var(--font-l);
  z-index: 1000;
}

.Chart-View {
  position: relative;
  height: 262px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(
      to right,
      var(--gradient-1),
      var(--gradient-2),
      var(--gradient-3)
    );
    opacity: 0.376;
  }
}

.Chart-Canvas {
  height: 202px;
  bottom: unset;
  top: 0;
}

.Meta.project {
  .Logo {
    position: fixed;
    top: 24px;
    left: 16px;
  }
}

.Meta.overview {
  .Logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
  }
}

.Logo-Animation {
  animation: none;
}
