@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-sans: system-ui, sans-serif;
  --font-mono:
    ui-monospace, Menlo, Monaco, Cascadia Code, Source Code Pro, Consolas,
    DejaVu Sans Mono, monospace;
  --font-serif: Charter, Bitstream Charter, Sitka Text, Cambria, serif;

  --animate-blink: blink 1s step-start infinite;
  --animate-pixelate: pixelate 10s step-start infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes pixelate {
    0%,
    100% {
      background-color: #4b5563;
    }
    50% {
      background-color: #f97316;
    }
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}

@utility pixelated {
  image-rendering: pixelated;
}

@utility pixel-animate {
  @apply animate-pixelate transition-none;
  animation-delay: calc(var(--pixel-index) * 0.05s);
}

@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-color: #f97315 transparent;
  }

  :focus-visible {
    @apply outline-solid outline-orange-500;
  }

  ::selection {
    @apply bg-orange-900;
  }
}
