@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #f97315 transparent;
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .pixel-animate {
    @apply animate-pixelate transition-none;
    animation-delay: calc(var(--pixel-index) * 0.05s);
  }
}
