:root {
  --primary: #6edbd0;
  --primary-light: #a1f4ec;
  --primary-dark: #5cbab0;

  --text: black;
  --text-contrast: white;
  --text-muted: #8c8c8c;
  --text-link: #2ca095;

  --positive: #93d064;
  --negative: #e9696e;

  --gray-01: #fafafa;
  --gray-02: #efeff2;
  --gray-03: #a9a9a9;

  --radius-sd: 12px;

  --font-big: 60px;
  --font-medium: 40px;
  --font-main: 22px;
  --font-secondary: 18px;
  --font-body: 16px;
  --font-small: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
  font-size: var(--font-main);
}

h3 {
  font-weight: bold;
  font-size: var(--font-secondary);
}
