:root {
  --primary: #6edbd0;
  --primary-light: #a1f4ec;
  --primary-dark: #5cbab0;

  --text: black;
  --text-contrast: white;
  --text-muted: #8c8c8c;
  --text-link: #2ca095;

  --positive: #93d064;
  --negative: #e9696e;

  --gray-01: #fafafa;
  --gray-02: #efeff2;
  --gray-03: #a9a9a9;

  --radius-sd: 12px;

  --font-big: 60px;
  --font-medium: 40px;
  --font-main: 22px;
  --font-secondary: 18px;
  --font-body: 16px;
  --font-small: 14px;

  --size-max: 1124px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
  font-size: var(--font-main);
}

h3 {
  font-weight: bold;
  font-size: var(--font-secondary);
}

svg.MuiSvgIcon-root {
  width: 1em;
  height: 1em;
}

.tooltip {
  position: relative;
  cursor: pointer;
  z-index: 2;

  &.tooltip-inline {
    display: inline;
    top: 4px;
    margin-left: 3px;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &::before {
    pointer-events: none;
    content: attr(data-content);
    position: absolute;
    color: var(--text-contrast);
    width: max-content;
    top: 0;
    background: var(--text);
    font-size: var(--font-body);
    border-radius: 17px;
    padding: 5px 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 1;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: translate(-50%, -120%);
  }
}
