@import './media.scss';

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--size-max);
  margin: 0 auto;

  @include media('<bp1Width') {
    margin: 0 20px;
  }
}

.main {
  width: 100%;
}

.overview {
  grid-column: 1/3;
}

.card {
  align-self: stretch;
  padding: 1.5rem;
  padding-top: 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid var(--gray-02);
  border-radius: var(--radius-sd);
  transition: color 0.15s ease, border-color 0.15s ease;

  overflow-y: auto;
  max-width: 100wh;
}

.cardBg {
  background: var(--gray-01);
}

.logo {
  height: 1em;
}

.graph {
  order: -1;
  grid-column: span 1;

  @include media('<maxWidth', '>bp1Width') {
    grid-column: span 2;
    order: 0;
  }

  @include media('<bp1Width') {
    grid-column: span 1;
  }
}

.projectsList {
  white-space: nowrap;
  grid-column: span 2;

  @include media('<maxWidth', '>bp1Width') {
    grid-column: span 2;
  }

  @include media('<bp1Width') {
    grid-column: span 1;
  }
}

.overviewCard {
  display: flex;
  flex-direction: column;

  @include media('<maxWidth') {
    order: -2;
    grid-column: span 1;
  }
}

.projectOverview {
  display: flex;
  flex-direction: column;

  @include media('<maxWidth') {
    order: -2;
    grid-column: span 1;
  }
}

.projectDetails {
  @include media('<maxWidth', '>bp1Width') {
    order: -1;
  }
}

.projectTvl {
  order: -1;
  grid-column: span 1;

  @include media('<maxWidth', '>bp1Width') {
    grid-column: span 2;
    order: 0;
  }

  @include media('<bp1Width') {
    grid-column: span 1;
  }
}

.noOfTx {
  grid-column: span 1;

  @include media('<maxWidth', '>bp1Width') {
    grid-column: span 2;
    order: 0;
  }

  @include media('<bp1Width') {
    grid-column: span 1;
  }
}

.faq {
  @include media('<maxWidth', '>bp1Width') {
    order: -1;
  }

  @include media('<bp1Width') {
    order: unset;
  }
}

.overview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tvl {
  font-weight: bold;
  font-size: var(--font-big);
  color: var(--text);
}

.dominance {
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--text);
}

.description {
  font-weight: bold;
  color: var(--text-muted);
  margin-bottom: 26px;
}

.title {
  color: var(--text);
  display: flex;
  align-items: center;
}

.title svg {
  margin-right: 12px;
}

.filterWrapper {
  display: flex;
  margin-left: auto;
}

.filter {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 3px 15px;
  margin-left: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.filter:hover,
.filter:focus-within {
  background: var(--gray-02);
}

.filterSelected:hover,
.filterSelected:focus-within {
  background: var(--primary-dark);
  opacity: 0.7;
}

.filterSelected {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--text-contrast);
}

.filterInput {
  display: none;
}

.badge {
  margin-left: auto;
  color: var(--text-contrast);
  background: var(--gray-03);
  border-radius: 20px;
  padding: 4px 15px;
  display: flex;
  align-items: center;
}

.badgeUp {
  background: var(--positive);
}

.badgeDown {
  background: var(--negative);
}

.badge svg {
  margin-left: 5px;
  margin-right: 0;
}

.table {
  border-collapse: separate;
  border-spacing: 0 12px;
  overflow-x: scroll;
}

.tableHeader {
  color: var(--text-muted);
  text-transform: uppercase;
  font-size: var(--font-small);
}

.projectName {
  display: flex;
}

.projectBadge {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.projectLink {
  cursor: pointer;
  color: var(--text-contrast);
  white-space: nowrap;
  background: var(--primary-dark);
  width: min-content;
  padding: 8px 16px;
  border-radius: 16px;
  margin-left: auto;
  transition: opacity 0.2s;

  @include media('<minWidth') {
    margin-left: 12px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}

.alignRight {
  text-align: right;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.more {
  padding-left: 12px;
}

.dataRow {
  padding: 0 15px;
  font-size: var(--font-body);
}

@media (max-width: 900px) {
  .grid {
    display: flex;
  }
}

.projectWebsite {
  cursor: pointer;
  transition: color 0.2s;
  color: var(--text);

  svg {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-dark);
  }
}

.invertedTitle {
  --text: white;
  --text-contrast: black;
  --text-muted: white;
  --primary-dark: black;
}

.footer {
  background: var(--primary);
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-top: 20px;
}

.logoWrapper {
  position: relative;
  font-size: var(--font-secondary);
  font-weight: bold;
  color: var(--text-contrast);
  text-transform: uppercase;
}
