name: "Chromatic"

on:
  push:
    paths:
      - "packages/frontend/**"

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: pnpm install
      - name: Build dependencies
        run: pnpm build:dependencies
      - name: Publish to Chromatic
        run: >
          npx chromatic
          --project-token ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          --only-changed
          --exit-once-uploaded
          --exit-zero-on-changes
          --externals packages/frontend/tailwind.config.ts
          --externals *.css
          --externals packages/frontend/src/fonts/**/*
          --build-script-name storybook:build