name: Deploy backend stage

concurrency:
  group: backend-deployment-stage
permissions:
  contents: read
  packages: write

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  check-changes:
    uses: ./.github/workflows/check-changes.yml
    with:
      package: '@l2beat/backend'

  deploy:
    needs: check-changes
    if: needs.check-changes.outputs.should_deploy == 'true'
    uses: ./.github/workflows/build-deploy-coolify.yml
    with:
      package: backend
      dockerfile: Dockerfile.backend
      environment: staging
    secrets:
      COOLIFY_SERVER: ${{ secrets.COOLIFY_SERVER }}
      COOLIFY_DEPLOY_API_KEY: ${{ secrets.COOLIFY_DEPLOY_API_KEY }}
      COOLIFY_UUID: ${{ secrets.COOLIFY_BACKEND_STAGING_ID }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
