name: Deploy disco-ui

concurrency:
  group: disco-ui-deployment
permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      force:
        description: "Force deployment"
        required: false
        default: false
        type: boolean
  push:
    branches:
      - main

jobs:
  check-changes:
    uses: ./.github/workflows/check-changes.yml
    with:
      package: '@l2beat/l2b'
      force: ${{ github.event.inputs.force == 'true' }}

  deploy:
    needs: check-changes
    if: needs.check-changes.outputs.should_deploy == 'true'
    uses: ./.github/workflows/build-deploy-coolify.yml
    with:
      project: disco-ui
      dockerfile: packages/l2b/Dockerfile.disco-ui
    secrets:
      COOLIFY_SERVER: ${{ secrets.COOLIFY_SERVER }}
      COOLIFY_DEPLOY_API_KEY: ${{ secrets.COOLIFY_DEPLOY_API_KEY }}
      COOLIFY_UUID: ${{ secrets.COOLIFY_DISCO_UI_ID }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
