name: Notify about migration PR merge

on:
  pull_request:
    types: [enqueued, closed]

jobs:
  notify-migration-pr-closed:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            migrations:
              - 'packages/database/prisma/migrations/**'

      - name: Notify discord of migration PR merged
        if: ${{ steps.changes.outputs.migrations == 'true' }}
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_NOTIFICATION_WEBHOOK }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          curl -sS \
            -H "Content-Type: application/json" \
            -d "{\"content\": \"Pull Request with DB migrations has been merged/closed: $PR_URL\"}" \
            "${DISCORD_WEBHOOK_URL}"
