name: Smoke Test (MQ)

on:
  merge_group:

jobs:
  config-smoke-test:
    name: Config smoke test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      HEROKU_ORGANIZATION: ${{ vars.HEROKU_ORG }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_TOKEN }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install
        working-directory: packages/backend

      - name: Build packages
        run: pnpm build:dependencies
        working-directory: packages/backend

      - name: Install Heroku CLI
        run: curl https://cli-assets.heroku.com/install.sh | sh

      # Backend
      - name: Pull staging backend configuration
        run: heroku config -a l2beat-staging --shell > .env
        working-directory: packages/backend

      # PORT variable is not present inside the dump and is assigned by Heroku at deployment time
      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run staging backend smoke test
        run: pnpm test:config
        working-directory: packages/backend

      - name: Pull production backend configuration
        run: heroku config -a l2beat-production --shell > .env
        working-directory: packages/backend

      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run production backend smoke test
        run: pnpm test:config
        working-directory: packages/backend

      # Update Monitor
      - name: Pull staging update monitor configuration
        run: heroku config -a l2beat-update-monitor-staging --shell > .env
        working-directory: packages/backend

      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run staging update monitor smoke test
        run: pnpm test:config
        working-directory: packages/backend

      - name: Pull production update monitor configuration
        run: heroku config -a l2beat-update-monitor-prod --shell > .env
        working-directory: packages/backend

      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run production update monitor smoke test
        run: pnpm test:config
        working-directory: packages/backend

      # L2BEAT TVS
      - name: Pull staging l2beat TVS configuration
        run: heroku config -a l2beat-tvs-staging --shell > .env
        working-directory: packages/backend

      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run staging l2beat TVS smoke test
        run: pnpm test:config
        working-directory: packages/backend

      - name: Pull production l2beat TVS configuration
        run: heroku config -a l2beat-tvs-production --shell > .env
        working-directory: packages/backend

      - name: Fill PORT variable
        run: echo "PORT=3000" >> .env
        working-directory: packages/backend

      - name: Run production l2beat TVS smoke test
        run: pnpm test:config
        working-directory: packages/backend
